
section.campgrounds {
  margin-top: 30px;

  > header {
    height: 50px;

    @include respond-to(medium) {
      height: 75px;
    }

    @include respond-to(large) {
      height: 90px;
    }
  }

  .overlay-text-container .header {
    margin-top: 0;
    font-size: 40px;
    line-height: 46px;

    color: $dark-green;

    &.header-stripes {
      color: rgba($dark-green, 0.6);
    }

    @include respond-to(medium) {
      font-size: 58px;
      line-height: 65px;
    }

    @include respond-to(large) {
      font-size: 64px;
      line-height: 77px;
    }
  }

  .camp-cards {
    @extend .container;

    margin-top: 10px;

    @include respond-to(medium, true) {
      .camp-card {
        height: 480px;

        &:nth-last-child(-n+2) {
          height: auto;
        }
      }
    }

    @include respond-to(large) {
      .camp-card {
        height: 560px;

        &:last-of-type {
          height: auto;
        }
      }
    }
  }
}

.camp-card section {
  border: 2px solid $dark-green;
  padding: 10px;
  width: $content-sm + 20px;

  @include respond-to(medium) {
    width: $content-md / 2 + 40px;
  }

  margin: 20px auto;

  h3 {
    margin: -33px auto 0 auto;
    background-color: $tan;
    border: 2px solid $dark-green;
    text-align: center;

    height: 44px;
    width: 140px;
    font-size: 26px;
    line-height: 44px;

    @include respond-to(medium) {
      margin-top: -43px;
      width: 190px;
      height: 50px;
      font-size: 38px;
      line-height: 54px;
    }

    @include respond-to(large) {
      margin-top: -46px;
      width: 220px;
      height: 50px;
      font-size: 38px;
      line-height: 54px;
    }
  }

  img {
    margin: 10px 0 10px 0;
    border: 1px solid $dark-green;
    text-align: center;

    width: 296px;

    @include respond-to(medium) {
      width: 335px;
    }
  }

  .description {
    margin: .5em 0;
  }

  .details {
    @extend .container;

    .camp-details {
      display: inline-block;
    }

    .open {
      text-align: center;
    }

    .elev {
      text-align: right;
    }
  }

  .camp-details {
    font-style: italic;
    color: $med-green;
  }

  .facilities {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
}

// Icons

@mixin camp-icon($icon-name) {
  background-image: url(/images/#{$icon-name}-icon.svg);
  background-repeat: no-repeat;

  $size: 30px;
  background-size: $size;
  width: $size;
  height: $size;

  @include respond-to(medium) {
    $size: 35px;
    background-size: $size;
    width: $size;
    height: $size;
  }

  display: inline-block;
}

.handicap-icon {
  @include camp-icon(handicap);
}

.restroom-icon {
  @include camp-icon(restroom);
}

.rv-icon {
  @include camp-icon(rv);
}

.tent-icon {
  @include camp-icon(tent);
}

.water-icon {
  @include camp-icon(water);
}

.facilities {
  list-style-type: none;
}
