// Import Roboto from Google Web Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic);

// Canter Bold
@font-face {
  font-family: "CanterBold";
  src: url("../fonts/Canter_Bold.woff");
}

// Canter Bold Stripes
@font-face {
  font-family: "CanterBoldStripes";
  src: url("../fonts/Canter_Bold_Stripes.woff");
}

.header-stripes {
  font-family: "CanterBoldStripes";
  color: rgba($tan, 0.6);
}
