
body > footer {
  @extend .container;

  background-color: darken($dark-green, 5%);

  $footer-height: 33px;
  font-family: "CanterBold";
  font-size: 20px;
  line-height: $footer-height;

  vertical-align: middle;
  padding: 0 10px;

  &,
  a,
  a:visited,
  a:hover,
  a:active {
    color: $tan;
    text-decoration: none;
  }

  .logo {
    background: url(../images/logo.svg);
    background-repeat: no-repeat;
    display: inline-block;

    $bg-size: 20px;
    background-size: $bg-size;
    padding-left: $bg-size + 6px;
    margin-top: 3px;
    background-position: 0 2px;
  }

  .logo {
    float: left;
  }

  .about {
    float: right;
    line-height: $footer-height + 3px;
  }
}
