$header-height: 30px;

header {
  background-color: rgba($dark-green, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

//  height: $header-height;

  padding: 0 10px;

  font-family: "CanterBold";
  font-size: 16px;
  line-height: $header-height;

  vertical-align: middle;

  .fa {
    // Vertically center hamburger icon.
    line-height: $header-height - 2px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: $tan;
  }

  .hamburger {
    @include respond-to(small) {
      position: absolute;
      right: 10px;
      top: 0;
    }
    @include respond-to(medium) {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    padding: 0 0 10px 0;
    margin: 0 auto;

    @include respond-to(small, true) {
      display: none;
      width: 100px;
    }

    @include respond-to(medium) {
      display: inline-block;
      float: right;
      padding-bottom: 0;
    }

    font-size: 24px;
    line-height: 36px;

    li {
      text-align: center;
      padding-right: 10px;

      @include respond-to(medium) {
        display: inline-block;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
