
// Import vendor stylesheets.
@import "vendor/normalize";
@import "vendor/font-awesome";

// Generic partials.
@import "partials/variables";
@import "partials/respond-to";
@import "partials/grid";
@import "partials/colors";
@import "partials/fonts";

// Section partials.
@import "partials/header";
@import "partials/hero";
@import "partials/intro";
@import "partials/newsletter";
@import "partials/campgrounds";

body {
  background-color: $tan;

  font-family: "Roboto";
  font-weight: 300;
  line-height: 150%;

  font-size: 13px;

  @include respond-to(medium) {
    font-size: 18px;
  }

  @include respond-to(large) {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  font-family: "CanterBold";
}

input:focus,
button:focus {
  outline: none;
}
