
// Import vendor stylesheets.
@import "vendor/normalize";
@import "vendor/font-awesome";

// Import partials.
@import "partials/grid";
@import "partials/colors";
@import "partials/fonts";

body {
  background-color: $tan;

  font-family: "Roboto";
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
}

header {
  background-color: $dark-green;
  position: relative;

  font-family: "CanterBold";
  font-size: 18px;
  height: 26px;

  vertical-align: middle;

  a {
    text-decoration: none;
    color: $tan;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    position: absolute;
    right: 0;

    li {
      display: inline-block;
      padding-right: 10px;
    }
  }
}
