
// Import vendor stylesheets.
@import "vendor/normalize";
@import "vendor/font-awesome";

// Import partials.
@import "partials/variables";
@import "partials/respond-to";
@import "partials/grid";
@import "partials/colors";
@import "partials/fonts";
@import "partials/header";

body {
  background-color: $tan;

  font-family: "Roboto";
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
}

h1,
h2,
h3 {
  font-family: "CanterBold";
}
